body {

background-color: rgb(203, 209, 197);

}

h1 {
    text-align: right;
    letter-spacing: 47px;
    color: #1c1c91;
    font-size: 50px;
    font-weight: 900;
}

h2 {
    clear: both;
    background-color: #5D6336;
    color: white;
    font-size: 40px;
}

p {
    font-size: 27px;
}

img.derecha {
    float: right;
}

img.izquierda {
    float: left;
    margin-right: 10px;
}

p.centro {
    text-align: center;
}

address {
  clear: both;
  margin-top: 15px;
  font-size: 15px;
}
